Source Code/FormulaNoneSLN/FormulaNoneSLN.suo
/Source Code/FormulaNoneSLN/FormulaNone/FormulaNone/bin
/Source Code/FormulaNoneSLN/FormulaNone/FormulaNone/obj
/Source Code/FormulaNoneSLN/FormulaNone/FormulaNoneContent/bin
/Source Code/FormulaNoneSLN/FormulaNone/FormulaNoneContent/obj

Source Code/FormulaNoneSLN/FormulaNone/FormulaNone/FormulaNone.csproj.Debug.cachefile
Source Code/FormulaNoneSLN/FormulaNone/FormulaNoneContent/FormulaNoneContent.contentproj.user